.premium__link {
    display: flex;
    justify-content: space-between;
}

.premium__link span {
    display: none;
}

.premium__icon {
    padding: 10px;

    width: 38px;
    height: 35px;

    background-color: var(--primary-dark);
}