.container {
  padding: 0 20px 0 20px;
}

@media( min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: auto;
    padding: 0 15px 0 15px;
    width: 1270px;
  }
}