.premium-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 32px;
}

.premium-page__features {
  width: 100%;
}

.premium-page__feature {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.premium-page__feature:last-child {
  margin-bottom: 0;
}

.premium-page__feature span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 36px;
  height: 36px;

  border-radius: 50%;
  background-color: var(--primary-dark-opacity-1);
}

.premium-page__feature svg {
  fill: var(--primary-dark);
}

.premium-page__feature:hover,
.premium-page__feature:focus,
.premium-page__feature span:hover svg,
.premium-page__feature span:focus svg {
  fill: var(--prymari-orange);
}

.premium-page__feature p {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: var(--primary-dark);
  margin: 0;
}

@media (min-width: 1200px) {
  .premium-page__content {
    position: relative;

    width: 320px;
    height: 320px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;

    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
  }

  .premium-page__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
  }

  .premium-page__content img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-self: center;
    height: 110px;
    object-fit: cover;
  }

  .premium-page__feature p {
    font-size: 12px;
    text-align: center;
  }

  .premium-page__feature {
    position: absolute;
    flex-direction: column;
    margin: 0;
  }

  .premium-page__feature--message {
    top: 0;
    left: 60px;
  }

  .premium-page__feature--settings {
    left: 60px;
    bottom: -20px;
  }
  .premium-page__feature--other {
    top: 0;
    right: 10px;
    width: 50%;
    text-align: center;
  }
  .premium-page__feature--gifts {
    transform: translateY(-50%);
    top: 50%;
    right: -20px;
  }
  .premium-page__feature--spy-watch {
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
  }

  .premium-page__feature--last {
    bottom: 10px;
    right: 60px;
  }
}
