.user__primary {
  display: flex;
  gap: 15px;
  margin-bottom: 21px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--primary-dark-opacity-20);
}

.user__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user__info h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.user__get-premium {
  display: block;
  padding: 5px 10px 5px 10px;

  background-color: var(--prirmay-deep-dark);
  border-radius: 5px;
  color: var(--white);
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  text-transform: uppercase;
}

.user__nav-bar {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.user__nav-item {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.user-nav__icon {
  display: block;
}

.user__nav-icon svg {
  fill: var(--primary-dark);
}

.user__nav-item:hover svg,
.user__nav-item:focus svg {
  fill: var(--prymari-orange);
}

.user__nav-link {
  color: var(--black);
}
