:root {
  /*special colors*/

  --primary-light: rgb(165, 100, 174);
  --primary-dark: rgb(149, 100, 170);
  --primary-dark-opacity-20: rgb(149, 100, 170, 20%);
  --primary-dark-opacity-1: rgba(149, 100, 170, 10%);
  --primary-dark-opacity-0: rgba(149, 100, 170, 0.1);
  --prirmay-deep-dark: rgb(104, 70, 119);
  --prymari-orange: rgb(255, 207, 45);
  --purple: rgb(193, 92, 161);
  --soft-brown: rgba(170, 100, 100, 0.2);

  /*typography*/

  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}
